{% extends 'blog/padre.html' %}

{% load static %}
{% block profile %}

<div class="col-md-5 offset-md-3">
    {% if request.user.is_staff %}

        <form method="post" class="card card-body p-5 " enctype="multipart/form-data" style="background-color: #4e779b;">
            {% csrf_token %}
            <h1 style="width: auto; color: white;" ><center>Modificar Imagen</center></h1>
            {{form.as_p}}
            <input type="submit" value="Subir Imagen">
    
    
        </form>
     {% else %}
        <form  method="get" class="card card-body p-5 " style="background-color: rgb(210, 34, 57);">
            <h1 style="width: auto; color: white;" ><center>Solo usuarios Administradores pueden cambiar imagen. Comuniquese con el administrador.</center></h1>
            <p>
                <center><a class="btn btn-primary" href="{% url 'profile' %}">Volver al Perfil</a></center>
                
            </p>
        </form>
      
     {% endif %}
</div>
        

{% endblock profile %}