{% extends 'blog/padre.html' %}

{% load static %}

{% block index_content %}
    <body>    
        <!-- Page content-->
        <div class="container">
            <div class="row">
               <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="{% static 'blog/assets/montana.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">31 de Marzo, 2022</div>
                            <h2 class="card-title">Everest</h2>
                            <p class="card-text">Una de las montañas más mágicas del mundo!</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{% static 'blog/assets/viajes.webp' %}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">22 de Enero, 2022</div>
                                    <h2 class="card-title h4">Como viajar gratis!</h2>
                                    <p class="card-text">Algunos tips para hacer tu viaje más economico!</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="#!"><img class="card-img-top" src="{% static 'blog/assets/comidas.jpg' %}" alt="..." /></a>
                                <div class="card-body">
                                    <div class="small text-muted">25 de Febrero, 2022</div>
                                    <h2 class="card-title h4">Comidas del mundo</h2>
                                    <p class="card-text">Encontraremos un sin fin de comidas y las opiniones de nuestros catadores!</p>
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  
{% endblock index_content %}