{% extends 'blog/padre.html' %}

{% load static %}

{% block index_content %}
    <body>    
        <!-- Page content-->
        <div class="container">
            <div class="row">
               <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="/pages/1/"><img class="card-img-top" src="{% static 'blog/assets/montana.jpg' %}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">April 19, 2022</div>
                            <h2 class="card-title">Aconcagua: un sueño cumplido</h2>
                            <p class="card-text">La primera vez que intenté escalar al coloso de América el mal de altura me jugo en contra. Pero el 2016 fue el año donde decidí enfrentarlo de nuevo y en la cima descubrí el significado de la palabra felicidad.</p>
                            <a class="btn btn-primary" href="/pages/1/">Leer más →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                        </div>
                        <div class="col-lg-6">
                        </div>
                    </div>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header"><b>Inspiraciones</b></div>
                        <div class="card-body">“Persigo la felicidad. Y la montaña responde a mi búsqueda.” <b>Chantal Maudit.</b></div>
                        <div class="card-body">“Cerca de la cima siempre hay mil excusas para bajarse y una sola para subir.”  <b>Ramón Portilla.</b></div>
                        <div class="card-body">“No conquistamos las montañas, sino a nosotros mismos.”  <b>Edmund Hillary.</b></div>
                        <div class="card-body">“Vive tu vida como si subieras una montaña. De vez en cuando mira la cumbre, pero más importante es admirar las cosas bellas del camino. Sube despacio, firme, y disfruta cada momento. Las vistas desde la cima serán el regalo perfecto tras el viaje.”     <b>Harold V. Melchert.</b></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  
{% endblock index_content %}