{% extends 'blog/padre.html' %}

{% load static %}
    
{% block main_content %}


    {% if user.is_authenticated%}
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" >

            <h1>Crear nuevo Post!</h1>
            <br/><br/>      

            <div class="form-group">
                <form method="post" >
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <input type="submit" value="Publicar" class="btn btn-success btn-lg mb-5">
                </form>
            </div>
            {% comment %} <a href="{% url 'upload_picture' %}"><input type="submit" value="Modificar Imagen" class="btn btn-secondary btn-sm mt-3"></a> {% endcomment %}

        </div>    

    {% else %}

    <h1>Inicie sesión para poder publicar</h1>

    {% endif %}


{% endblock main_content %}