{% extends 'blog/padre.html' %}

{% load static %}

{% block main_content %}
<h1 class="text-center mt-4"> <span style="color: #0064fa; text-shadow: -.5px 0 #0064fa, 0 .5px #0064fa, .5px 0 #0064fa, 0 -.5px #0064fa;">Relatos 2022</span></h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8"></div>
            <div class="container m-5">
                <div class="card-columns">
                    {% for post in object_list %}
                        <div class="card">
                            <div class="card-body">
                                {% if post.picture %}
                                <a href="{% url 'post_detail' pk=post.pk %}"><img class="card-img-top" src="{{post.picture.url}}" alt="..." style="width: 20%; float: left; margin-right: 10px;"/></a>
                                {% else %}
        
                                {% endif %}
                                <div class="small text-muted">{{post.fecha_post}}</div>
                                <h2 class="card-title">{{post.titulo}}</h2>
                                <p class="card-text">{{post.subtitulo}}</p>
                                <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Leer más →</a> |
                                {% if user.is_authenticated%}
                                    {% if user == post.autor %}
                                        {% if not post.picture %}
                                        <a class="btn btn-dark" href="{% url 'upload_picture' pk=post.pk %}">Agregar Foto</a> |
                                        {% endif %}
                                        <a class="btn btn-secondary" href="{%url 'post_update' pk=post.pk %}">Actualizar</a> |
                                        <a class="btn btn-danger" href="{% url 'post_delete' pk=post.pk %}">Borrar</a> |

                                   {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="container">
                <a class="btn btn-primary btn-sm" href="{% url 'post_create' %}">Agregar Post</a>
            </div>
        </div>    
    </div>
</div>    
{% endblock main_content %}