{% extends 'blog/padre.html' %}


{% block main_content %}
<h1 class="text-center mt-4">Blogs disponibles <span style="color: #002aff; text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;">2022</span></h1>
<div class="container">
    <div class="row">
        <div class="col-lg-8"></div>
            <div class="container m-5">
                <div class="card-columns">
                    {% for post in object_list %}
                        {% if post.imagen %}
                        <a href="{% url 'post_detail' pk=post.pk %}"><img class="card-img-top" src="{{post.imagen.url}}" alt="..." style="width: 20%; float: left; margin-right: 10px;"/></a>
                        {% else %}

                        {% endif %}
                        <div class="card-body">
                            <div class="small text-muted">{{post.fecha_post}}</div>
                            <h2 class="card-title">{{post.titulo}}</h2>
                            <p class="card-text">{{post.subtitulo}}</p>
                            <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Leer más →</a>
                        </div>
                        <!-- <div class="card text-center p-3 m-3">
                            <div class="card-body">
                                <h5 class="card-title">{{post.titulo}} | {{post.imagen}}</h5>
                                <a class="card-link" href="{% url 'post_detail' pk=post.pk %}">Detalle</a> |
                                {% comment %} <a class="card-link" href="{%url 'post_update' curso.camada%}">Actualizar</a> |
                                <a class="card-link" href="{%url 'curso_delete' post.id %}">Borrar</a> {% endcomment %}
                            </div>
                        </div> -->
                    {% endfor %}
                </div>
            </div>

            <div class="container">
                <a class="btn btn-primary btn-sm" href="{% url 'post_create' %}">Agregar curso</a>
            </div>
        </div>    
    </div>
</div>    
{% endblock main_content %}