{% extends 'blog/padre.html' %}
    
{% block main_content %}

<!DOCTYPE html>
<html lang="en">

    <body>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{post.titulo}}</h1>
                            <p class="card-text"><b>{{post.subtitulo}}</b></p>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{post.fecha_post}} by {{post.autor}}</div>
                        </header>
                        <!-- Preview image figure-->
                        {% if post.picture %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{post.picture.url}}" alt="..." style="width: 50%" /></figure>
                        {% else %}
                        
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <article class="intro_text">{{ post.body|safe|truncatewords:500 }}</article>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </body>
</html>

{% endblock main_content %}