{% comment %} <div class="container mt-5" style='text-align:center'>
    {% if miFormulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/blog/updateviaje/{{destino_id}}/" method="POST" class="form-group " >
        {% csrf_token %}
        <h4>Actualizar Viajes</h4>
        <table class="table">
             {{formulario.as_table}} 
        </table>

        <input type="submit" value="Cargar Viaje" class="btn btn-primary">
    </form>
</div> {% endcomment %}