{% comment %} {% extends 'blog/padre.html' %}

{% block main_content %}

{% load static %}

<div class="container mt-5" style='text-align:center'>
    {% if miFormulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/blog/montanas/" method="POST" class="form-group ">
        {% csrf_token %}
        <h4>Agregar Montañas</h4>
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Cargar Montaña" class="btn btn-primary">
    </form>
</div>


<div class="container mt-5">
    <table class="table" center>
        <thead >
            <tr>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Dificultad</th>

            </tr>
        </thead>
        <tbody>
                {% for montana in montanas %}
                <tr>
                <td>{{montana.nombre}}</td>
                <td>{{montana.ubicacion}}</td>
                <td>{{montana.dificultad}}</td>
                </tr> 
                {% endfor %}
        </tbody>
    </table>
</div>
       
{% comment %} <!-- Page content-->
    <div class="container" style="align-content: center;" >
         <div class="row">
             <!-- Blog entries-->
             <div class="col-lg-8" >
                 <!-- Featured blog post-->
                <div class="card mb-4">
                     <a href="#!"><img class="card-img-top" src="{% static 'blog/assets/montana.jpg' %}" alt="..." /></a>
                     <div class="card-body">
                         <div class="small text-muted">January 1, 2022</div>
                        <h2 class="card-title">Featured Post Title</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
                        <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
             </div>
        </div>
    </div>    

{% endblock main_content %} {% endcomment %}