{% extends 'blog/padre.html' %}

{% block main_content %}


<div class="container mt-5" style='text-align:center'>
    {% if miFormulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/blog/montanas/" method="POST" class="form-group " >
        {% csrf_token %}
        <h4>Agregar Montañas</h4>
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Cargar Montaña" class="btn btn-primary">
    </form>
</div>


<div class="container mt-5">
    <table class="table" center>
        <thead >
            <tr>
                <th>Nombre</th>
                <th>Ubicacion</th>
                <th>Dificultad</th>

            </tr>
        </thead>
        <tbody>
                {% for montana in montanas %}
                <tr>
                <td>{{montana.nombre}}</td>
                <td>{{montana.ubicacion}}</td>
                <td>{{montana.dificultad}}</td>
                </tr> 
                {% endfor %}
        </tbody>
    </table>


</div>
{% endblock main_content %}